body {
  margin-top: 0px;
  min-height: 100vh;
  height: 100vh;
  background-color: #3A506B;
  /* background:linear-gradient(160deg, #4285f4, #4285f4 60%, white 60%, white); */
}

.bg-cover {
  background-size: cover !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.border-0 {
  border: 0 !important;
}

.position-relative {
  position: relative !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.member-profile {
  top: -50px;
  left: 0;
}

.text-center {
  text-align: center !important;
}

.w-100 {
  width: 100% !important;
}

.position-absolute {
  position: absolute !important;
}

.member-profile img {
  width: 100px;
  height: 100px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.btn-submit {
padding: 10px 20px;
font-size: 15px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #0B132B;
border: none;
border-radius: 5px;
box-shadow: 0 3px #999;
}

.btn-submit:hover {
background-color: #18295c;
color: white;
}

.btn-submit:active {
background-color: #0B132B;
box-shadow: 0 5px #666;
transform: translateY(5px);
}
.button-to-link {
  text-decoration: none;
  display: grid;
  margin: auto;
  background: #0B132B;
  color: #fff;
  width: 50%;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.button-to-link:hover {
  box-shadow: 0px 37px 20px -20px rgba(255, 255, 255, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}

.center {
  width: 350px;
  height: 350px;
}

.video-circle {
  border-radius: 40%;
  object-fit: cover;
}

.circular--portrait {
  /* position: relative; */
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
  /* overflow: hidden; */
  /* border-radius: 50%; */
}

.circular--portrait video {
  width: 100%;
  height: auto;
}

.webcam-img{
  border-radius: 50%;
}

.add-student-container{
  display : flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.add-student-image{
  width: 50%;
  display: flex;
}

@media screen and  (max-width : 1000px) {
  .add-student-container{
      flex-direction: column !important;
  }
}

/* Css For Footer */

.site-footer
{
background-color:#0B132B;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#3A506B;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#3A506B;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#3A506B
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#3A506B
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}